.css-dip3t8{
    background-color: white!important;
}
.css-wx7wi4{
    background-color: #FFEDDF;
}
.menu-text {
    color: black; /* Default text color */
  }
  
 
.menu-text:hover {
    color: white; /* Text color on hover */
  }